@import './partials/fonts';
@import './partials/colors';
@import './partials/mixinis';
@import './partials/icons';
@import './partials/media-queries';
@import './partials/variables';
@import './partials/box-shadows';

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.container_two {
  max-width: 1244px;
  margin: 0 auto;
}

h1 {
  font-family: 'ObjectSans-Heavy', sans-serif;
  @include text_dimensions(50px, 52px, center, null);
  @include m_query(tablet_two) {
    @include text_dimensions(40px, 42px, center, null);
  }
  @include m_query(tablet) {
    @include text_dimensions(30px, 32px, center, null);
  }
  @include m_query(phone) {
    @include text_dimensions(25px, 27px, center, null);
  }
}

h3 {
  font-family: 'ObjectSans-Heavy', sans-serif;
  @include text_dimensions(30px, 150%, null, null);
  @include m_query(tablet_two) {
    @include text_dimensions(25px, 130%, null, null);
  }
  @include m_query(tablet) {
    @include text_dimensions(20px, 110%, null, null);
  }
  @include m_query(phone) {
    @include text_dimensions(20px, 110%, null, null);
  }
}

h4 {
  font-family: 'OpenSans-Bold', sans-serif;
  @include text_dimensions(25px, 150%, null, $royal_night);
  @include m_query(phone) {
    @include text_dimensions(20px, 110%, null, $royal_night);
  }
}

input {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-weight: 600;
  border-radius: $input_b_radius;
  padding: 18px 22px;
  background: none;
  border: 2px solid #ffffff;
  @include text_dimensions(16px, 140%, null, $white);
  &:focus {
    outline: none;
  }
}

::placeholder {
  color: $white;
}

.app-button {
  margin-top: 30px;
  cursor: pointer;
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
  background: linear-gradient(270deg, #00bf9f 5.07%, #364bcc 80.07%);
  border-radius: 50px;
  @include text_dimensions(18px, 140%, left, $white);
  padding: 16px 32px;
  transition: 400ms;
  border: none;
  &:hover {
    box-shadow: $box_shadow_card_slider;
  }
}

// **************Navigation section start**************
// .navbar-nav .nav-link.active {
//   color: green;
// }

// .mystyle {
//   color: green;
//   font-size: 40px;
// }
.navigation {
  &__flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    &-right {
      font-family: 'OpenSans-SemiBold', sans-serif;
      @include text_dimensions(16px, 140%, null, null);
      font-weight: 600;
      .nav_link {
        text-decoration: none;
        margin-right: 30px;
        color: #000;
        transition: 400ms;
        &:hover {
          color: $royal_night;
        }
      }
      .nav_link_btn {
        text-decoration: none;
        border-radius: 50px;
        transition: 400ms;
        background: $linear_bg;
        padding: 8px 24px;
        color: $white;
        &:hover {
          box-shadow: $box_shadow_card_slider;
        }
      }
    }
  }
  nav {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px 0;
    box-sizing: border-box;
    transition: 0.4s;
  }
  nav.scrollnav {
    background: $white;
    box-shadow: $box_shadow_nav;
    img {
      width: 70px;
    }
  }
}

.navigation-two {
  &__flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 6px 0;
    &-right {
      font-family: 'OpenSans-SemiBold', sans-serif;
      @include text_dimensions(16px, 140%, null, null);
      font-weight: 600;
      .nav_link {
        text-decoration: none;
        padding: 31px 14px;
        color: #000;
        transition: 400ms;
        &.active {
          color: $royal_night;
          background: $alice_blue;
        }
        &:hover {
          color: $royal_night;
        }
      }
      .nav_link_btn {
        text-decoration: none;
        border-radius: 50px;
        transition: 400ms;
        background: $linear_bg;
        padding: 8px 24px;
        color: $white;
        &:hover {
          box-shadow: $box_shadow_card_slider;
        }
      }
    }
  }
  nav {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // padding: 16px 0;
    box-sizing: border-box;
    transition: 0.4s;
    background: $white;
    box-shadow: $box_shadow_nav;
    // img {
    //   width: 70px;
    // }
  }
}

// **************Navigation section end**************

// **************AppHeader section start**************
.app-header {
  position: relative;
  padding-top: 100px;
  padding-bottom: 71px;
  .header_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  &__flex {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    &-left {
      width: calc(100% - 360px);
      padding-right: 80px;
      h1 {
        @include text_dimensions(40px, 150%, left, null);

        text-transform: uppercase;

        background: linear-gradient(270deg, #00bf9f 5.07%, #364bcc 80.07%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
      p {
        margin-top: 30px;
        width: 77%;
        font-family: 'OpenSans-Regular', sans-serif;
        font-weight: 400;
        @include text_dimensions(22px, 160%, left, $shuttle_grey);
      }
    }
    &-right {
      width: 360px;
    }
  }
}
// **************AppHeader section end**************

// **************Popular directions section start**************
.popular-direction {
  padding: 39px 44px 72px 44px;
  box-shadow: $box_shadow_card;
  border-radius: $default_b_radius;
  margin-top: -70px;
  position: relative;
  z-index: 2;
  background: $white;
  margin-bottom: 100px;
  h1 {
    @include text_dimensions(35px, 48px, center, $grey_20);
    font-family: 'OpenSans-Bold', sans-serif;
    font-weight: 700;
  }
  &__flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &-sub {
      width: 20%;
      margin-top: 52px;
      .popular-img {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100px;
        &__sub {
          height: 80px;
        }
      }
      p {
        @include text_dimensions(22px, 150%, center, $grey_20);
        font-family: 'OpenSans-SemiBold', sans-serif;
        font-weight: 600;
      }
    }
  }
}
// **************Popular directions section end**************

// **************Complex section start**************
.complex {
  padding: 80px 0 139px 0;
  @include m_query(desktop) {
    padding: 50px 15px 39px 15px;
  }
  @include m_query(tablet_two) {
    padding: 50px 15px 39px 15px;
  }
  @include m_query(tablet) {
    padding: 40px 15px 39px 15px;
  }
  @include m_query(phone) {
    padding: 30px 15px 30px 15px;
  }
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.6)
    ),
    url(../img/rectangle.png);
  background-position: center center;
  background-repeat: no-repeat, repeat;
  width: 100%;
  h1 {
    color: $royal_night;
    margin-bottom: 25px;
  }

  .owl-carousel .owl-nav button.owl-prev:focus,
  .owl-nav button.owl-next:focus {
    outline: none !important;
  }
  .owl-carousel {
    margin-top: 20px;
    .owl-stage-outer {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .owl-dots {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      .owl-dot {
        padding: 6px !important;
        margin-left: 10px;
        margin-right: 10px;
        background: #c4c4c4;
        border-radius: 50%;
        &.active {
          background: #000000;
        }
        &:active {
          outline: none;
        }
        &:focus,
        &:active {
          outline: none;
        }
      }
    }
    &.owl-drag {
      .owl-item {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
    .owl-stage {
      z-index: 1;
    }
    .owl-nav {
      padding-top: 100px;
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      align-items: baseline;
      height: 0;
      z-index: 1;
      top: 0;
      span {
        display: none;
      }
      .owl-prev,
      .owl-next {
        position: relative;
      }
      button.owl-prev {
        z-index: 2;
        margin-left: 10px;
      }
      button.owl-next {
        z-index: 2;
        margin-right: 10px;
      }
      .owl-next:after {
        content: url(../img/svg/arrow_right.svg);
        align-items: center;
        position: absolute;
        right: -20px;
        top: 70px;
        width: 100px;
        height: 100px;
        background: $white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        box-shadow: $box_shadow_card;
      }
      .owl-prev:after {
        align-items: center;
        content: url(../img/svg/arrow_left.svg);
        position: absolute;
        left: -20px;
        top: 70px;
        width: 100px;
        height: 100px;
        background: $white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        box-shadow: $box_shadow_card;
      }
    }
  }
  .product_card {
    text-decoration: none;
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 363px;

    box-shadow: 0px -8px 15px rgba(0, 0, 0, 0.05),
      0px 8px 28px -6px rgba(103, 103, 103, 0.1),
      0px 18px 88px -4px rgba(103, 103, 103, 0.1);

    border-radius: $slider_card_b_radius;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .round_count {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 84px;
      height: 84px;
      position: absolute;
      top: 10.91px;
      left: 10.91px;
      border-radius: 50%;
      background: $linear_bg;
      z-index: 2;
      .count_text {
        font-family: 'OpenSans-Regular', sans-serif;
        font-style: normal;
        @include text_dimensions(24px, 150%, center, $white);
        font-weight: 400;
        // transform: translate(0, 8px);
      }
      .top_round_text {
        width: 54px;
        height: 18px;
        margin-left: 14px;
      }
      .bottom_round_text {
        width: 70px;
        height: 32px;
        margin-left: 7.5px;
        margin-top: -12px;
        border-radius: 0;
      }
    }
    img {
      width: 100%;
      height: 280px;
      object-fit: cover;
      border-radius: 15px 15px 0 0;
      @include m_query(tablet_two) {
        height: 378px;
      }
      @include m_query(phone) {
        height: 378px;
      }
    }
    .text {
      font-family: 'OpenSans-Regular', sans-serif;
      font-weight: 400;
      @include text_dimensions(18px, 150%, center, $white);
      background: $royal_night;
      padding: 8px 15px;
      border-radius: 0 0 15px 15px;
      min-height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include m_query(tablet) {
        font-size: 15px;
      }
      @include m_query(phone) {
        font-size: 15px;
      }
    }
    @include m_query(tablet_two) {
      width: 100%;
      min-height: 463px;
    }
    @include m_query(tablet) {
      width: 100%;
    }
    @include m_query(phone) {
      width: 100%;
      min-height: 463px;
    }
  }
}
// **************Complex section end**************

// **************Catalog style start**************
.catalog-flex {
  display: flex;
  margin-bottom: 100px;
  &__left {
    width: 283px;
    height: auto;
    border-radius: $default_b_radius;
    margin-top: 25px;
    margin-left: 20px;
    &-sub {
      box-shadow: $box_shadow_card;
      border-radius: $b_radius_card;
    }
    a {
      font-family: 'OpenSans-SemiBold', sans-serif;
      font-style: normal;
      font-weight: 600;
      @include text_dimensions(18px, 150%, null, null);
      text-decoration: none;
      display: flex;
      justify-content: space-between;
      width: 100%;
      background-color: $white;
      padding: 16px 21px !important;
      &:hover {
        background: $alice_blue;
        span {
          color: $royal_night !important;
        }
      }
      & .active {
        background: $alice_blue;
        span {
          color: $royal_night !important;
        }
      }
      &:nth-child(1) {
        border-radius: 10px 10px 0 0;
      }
      &:nth-last-child(1) {
        border-radius: 0 0 10px 10px;
      }
      span {
        &:nth-child(1) {
          color: $grey_20;
        }
        &:nth-child(2) {
          color: $light_gray;
        }
      }
    }
    @include m_query(tablet_two) {
      display: none;
    }
    @include m_query(tablet) {
      display: none;
    }
    @include m_query(phone) {
      display: none;
    }
  }
  &__right {
    width: calc(100% - 283px);

    @include m_query(tablet_two) {
      width: 100%;
    }
    @include m_query(tablet) {
      width: 100%;
    }
    @include m_query(phone) {
      width: 100%;
    }
  }
  .product_card_flex {
    display: flex;
  }
  .product_card {
    @include m_query(desktop) {
      width: calc(50% - 44px) !important;
      min-height: 400px !important;
      padding-top: 20px;
    }
    .round_count_text {
      position: absolute;
      top: 10.91px;
      left: 10.91px;
      background: $linear_bg;
      z-index: 2;
      padding: 4px 12px;
      font-family: 'OpenSans-Regular', sans-serif;
      font-style: normal;
      @include text_dimensions(12px, 140%, null, $white);
      font-weight: 400;
      border-radius: 20px;
    }
    .text {
      @include m_query(desktop) {
        font-size: 16px !important;
      }
      @include m_query(tablet_two) {
        font-size: 16px !important;
      }
      @include m_query(tablet) {
        font-size: 16px !important;
      }
      @include m_query(phone) {
        font-size: 16px !important;
      }
    }
  }
}
// **************Catalog style end**************

// **************Product card style start**************
.product_card_title {
  @include m_query(desktop) {
    padding: 0 15px;
  }
  @include m_query(tablet_two) {
    padding: 0 15px;
  }
  @include m_query(tablet) {
    padding: 0 15px;
  }
  @include m_query(phone) {
    padding: 0 15px;
  }
  h1 {
    text-align: left;
    margin-bottom: 50px;
    color: $royal_night;
  }
}
.product_card_flex2 {
  margin-bottom: 0 !important;
}
.product_card_flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 100px;
  h1 {
    text-align: left;
    margin-bottom: 50px;
    color: $royal_night;
  }
  .product_card {
    text-decoration: none;
    position: relative;
    overflow: hidden;
    margin: 22px;
    width: calc(33.33% - 44px);
    min-height: 363px;
    box-shadow: $box_shadow_card_slider;
    border-radius: $slider_card_b_radius;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .round_count {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 84px;
      height: 84px;
      position: absolute;
      top: 10.91px;
      left: 10.91px;
      border-radius: 50%;
      background: $linear_bg;
      z-index: 2;
      .count_text {
        font-family: 'OpenSans-Regular', sans-serif;
        font-style: normal;
        @include text_dimensions(24px, 150%, center, $white);
        font-weight: 400;
        // transform: translate(0, 8px);
      }
      .top_round_text {
        width: 54px;
        height: 18px;
        margin-left: 14px;
      }
      .bottom_round_text {
        width: 70px;
        height: 32px;
        margin-left: 7.5px;
        margin-top: -12px;
        border-radius: 0;
      }
    }
    img {
      width: 100%;
      height: 280px;
      object-fit: cover;
      border-radius: 15px 15px 0 0;
      @include m_query(tablet_two) {
        height: 378px;
      }
      @include m_query(phone) {
        height: 378px;
      }
    }
    .text {
      font-family: 'OpenSans-Regular', sans-serif;
      font-weight: 400;
      @include text_dimensions(18px, 150%, center, $white);
      background: $royal_night;
      padding: 8px 15px;
      border-radius: 0 0 15px 15px;
      min-height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include m_query(tablet) {
        font-size: 15px;
      }
      @include m_query(phone) {
        font-size: 15px;
      }
    }
    @include m_query(tablet_two) {
      width: calc(50% - 44px);
      min-height: 463px;
    }
    @include m_query(tablet) {
      width: calc(50% - 44px);
    }
    @include m_query(phone) {
      width: 100%;
      min-height: 463px;
    }
  }
}
// **************Product card style end**************

// **************Our results section start**************
.our-results {
  padding: 80px 0 139px 0;
  @include m_query(desktop) {
    padding: 50px 15px 50px 15px;
  }
  @include m_query(tablet_two) {
    padding: 50px 15px 50px 15px;
  }
  @include m_query(tablet) {
    padding: 40px 15px 40px 15px;
  }
  @include m_query(phone) {
    padding: 30px 15px 30px 15px;
  }
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.5)
    ),
    url(../img/rectangle.png);
  background-position: center center;
  background-repeat: no-repeat, repeat;
  width: 100%;
  h1 {
    color: $royal_night;
    margin-bottom: 25px;
  }
  &__flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &-sub {
      width: calc(33.33% - 24px);
      p {
        font-family: 'OpenSans-Regular', sans-serif;
        @include text_dimensions(22px, 140%, null, $shuttle_grey);
        font-weight: 400;
        @include m_query(tablet_two) {
          text-align: center;
        }
        @include m_query(tablet) {
          text-align: center;
        }
        @include m_query(phone) {
          text-align: center;
        }
      }
      @include m_query(tablet_two) {
        width: 50%;
        padding: 0 15px;
      }
      @include m_query(tablet) {
        width: 50%;
        padding: 0 15px;
      }
      @include m_query(phone) {
        width: 100%;
        padding: 0 15px;
      }
    }
  }
  &__textflex {
    display: flex;
    width: 100%;
    align-items: center;
    @include m_query(tablet_two) {
      justify-content: center;
    }
    @include m_query(tablet) {
      justify-content: center;
    }
    @include m_query(phone) {
      justify-content: center;
    }
    &-left {
      & .number {
        font-family: 'ObjectSans-Heavy', sans-serif;
        font-weight: 800;
        @include text_dimensions(9.375em, null, null, null);
        background: linear-gradient(337.72deg, #00bf9f 22.4%, #364bcc 70.95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

        @include m_query(tablet_two) {
          @include text_dimensions(7.375em, null, null, null);
        }
        @include m_query(tablet) {
          @include text_dimensions(5.375em, null, null, null);
        }
        @include m_query(phone) {
          @include text_dimensions(5.375em, null, null, null);
        }
      }
    }
    &-right {
      margin-top: -4em;
    }
  }
}
// **************Our results section end**************

// **************Breadcrumb section start**************
.breadcrumb {
  margin-bottom: 20px;
  margin-top: 158px;
  @include m_query(desktop) {
    padding: 0 15px;
  }
  @include m_query(tablet_two) {
    padding: 0 15px;
  }
  @include m_query(tablet) {
    padding: 0 15px;
  }
  @include m_query(phone) {
    padding: 0 15px;
  }
  &__flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;

    @include m_query(tablet_two) {
      flex-direction: column;
    }
    @include m_query(tablet) {
      flex-direction: column;
    }
    @include m_query(phone) {
      flex-direction: column;
    }
    &-right {
      .search_card {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 12px 22px;
        border-radius: $slider_card_b_radius;
        box-shadow: $box_shadow_card_slider;
        button {
          padding: 0;
          background: none;
          border: none;
          :focus {
            outline: none;
          }
        }
        @include m_query(tablet_two) {
          margin-top: 30px;
        }
        @include m_query(tablet) {
          margin-top: 30px;
        }
        @include m_query(phone) {
          margin-top: 30px;
        }
      }
      input {
        margin-left: 10px;
        padding: 0;
        border-radius: 0;
        @include text_dimensions(16px, 140%, null, $light_gray);
      }
      ::placeholder {
        color: $light_gray;
      }
    }
  }
  span {
    font-family: 'OpenSans-Regular', sans-serif;
    @include text_dimensions(16px, 140%, null, null);
    font-weight: 400;
  }
  a {
    text-decoration: none;
    color: $grey_20;
  }
  .active {
    color: $light_gray;
  }
}
// **************Breadcrumb section end**************

// **************Complex single header section start**************
.complex-single {
  margin-bottom: 100px;

  @include m_query(desktop) {
    padding: 0 15px;
  }
  @include m_query(tablet_two) {
    padding: 0 15px;
  }
  @include m_query(tablet) {
    padding: 0 15px;
  }
  @include m_query(phone) {
    padding: 0 15px;
  }
  h3 {
    text-align: left;
    margin-bottom: 50px;
    color: $royal_night;
  }
  &__flex {
    display: flex;

    @include m_query(tablet_two) {
      flex-direction: column;
    }
    @include m_query(tablet) {
      flex-direction: column;
    }
    @include m_query(phone) {
      flex-direction: column;
    }
    &-left {
      width: calc(100% - 439px);
      padding-right: 41px;
      .text_product_main {
        margin-top: 20px;
        .text_product {
          margin-top: 6px;
          width: 100%;
          font-family: 'OpenSans-Regular', sans-serif;
          font-weight: 400;
          @include text_dimensions(18px, 160%, null, $grey_20);
        }
      }
      @include m_query(tablet_two) {
        width: 100%;
        order: 2;
      }
      @include m_query(tablet) {
        width: 100%;
        order: 2;
      }
      @include m_query(phone) {
        width: 100%;
        order: 2;
      }
      p {
        margin-top: 20px;
        font-family: 'OpenSans-Regular', sans-serif;
        font-weight: 400;
        @include text_dimensions(18px, 160%, null, $grey_20);
      }
    }
    &-right {
      border-radius: 10px;
      width: 439px;
      .card_product_img {
        border-radius: 10px;
      }
      .product_imgs {
        img {
          width: 100%;
          display: block;
        }

        .img-display {
          overflow: hidden;
          box-shadow: $box_shadow_card;
        }

        .img-showcase {
          display: flex;
          width: 100%;
          transition: all 0.5s ease;
          border-radius: $default_b_radius;
          background-color: $white;
        }
        .img-showcase img {
          min-width: 100%;
          padding: 1rem;
        }

        .img-select {
          display: flex;
          img {
            border-radius: $default_b_radius;
          }
        }

        .img-item {
          margin: 0.3rem;
          box-shadow: $box_shadow_card;
          border-radius: $default_b_radius;
        }

        .img-item:nth-child(1),
        .img-item:nth-child(2),
        .img-item:nth-child(3) {
          margin-right: 0;
        }

        .img-item:hover {
          opacity: 0.8;
        }
      }

      @include m_query(tablet_two) {
        width: 100%;
        order: 1;
      }
      @include m_query(tablet) {
        width: 100%;
        order: 1;
      }
      @include m_query(phone) {
        width: 100%;
        order: 1;
      }
      .card {
        padding: 27px 33px;
        width: 100%;
        height: 374px;
        display: flex;
        justify-content: center;
        background: #ffffff;
        box-shadow: $box_shadow_card;
        border-radius: 10px;
        @include m_query(tablet_two) {
          margin-bottom: 30px;
        }
        @include m_query(tablet) {
          margin-bottom: 30px;
        }
        @include m_query(phone) {
          margin-bottom: 30px;
        }
      }
    }
  }
}

// **************Complex single header section end**************

// **************Complex single main section start**************
.complex-singlemain {
  margin-bottom: 100px;
  position: relative;
  .element {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    height: 100%;
    align-items: center;
  }

  .text_product_main {
    margin-top: 20px;
    .text_product {
      margin-top: 6px;
      width: 100%;
      font-family: 'OpenSans-Regular', sans-serif;
      font-weight: 400;
      @include text_dimensions(18px, 160%, null, $grey_20);
    }
  }
  @include m_query(desktop) {
    padding: 0 15px;
  }
  @include m_query(tablet_two) {
    padding: 0 15px;
  }
  @include m_query(tablet) {
    padding: 0 15px;
  }
  @include m_query(phone) {
    padding: 0 15px;
  }
  &__flex {
    display: flex;
    align-items: center;
    margin-top: 28px;
    @include m_query(tablet_two) {
      flex-direction: column;
    }
    @include m_query(tablet) {
      flex-direction: column;
    }
    @include m_query(phone) {
      flex-direction: column;
    }
    &-left {
      width: 272px;
      @include m_query(tablet_two) {
        width: 100%;
        order: 1;
      }
      @include m_query(tablet) {
        width: 100%;
        order: 1;
      }
      @include m_query(phone) {
        width: 100%;
        order: 1;
      }
      .card {
        padding: 27px 33px;
        width: 100%;
        height: 232px;
        display: flex;
        justify-content: center;
        background: #ffffff;
        box-shadow: $box_shadow_card;
        border-radius: 10px;
        @include m_query(tablet_two) {
          margin-bottom: 30px;
        }
        @include m_query(tablet) {
          margin-bottom: 30px;
        }
        @include m_query(phone) {
          margin-bottom: 30px;
        }
      }
    }
    &-right {
      width: calc(100% - 272px);
      padding-left: 41px;

      @include m_query(tablet_two) {
        width: 100%;
        order: 2;
        padding-left: 0;
      }
      @include m_query(tablet) {
        width: 100%;
        order: 2;
        padding-left: 0;
      }
      @include m_query(phone) {
        width: 100%;
        order: 2;
        padding-left: 0;
      }
      h4 {
        font-size: 18px;
      }
      p {
        @include m_query(tablet_two) {
          width: 100%;
        }
        @include m_query(tablet) {
          width: 100%;
        }
        @include m_query(phone) {
          width: 100%;
        }
        width: 72%;
        margin-top: 20px;
        font-family: 'OpenSans-Regular', sans-serif;
        font-weight: 400;
        @include text_dimensions(16px, 160%, null, $grey_20);
      }
    }
  }
}
// **************Complex single maub section start**************

// **************Partners section start**************
.partners {
  margin-bottom: 100px;
  @include m_query(desktop) {
    padding: 0 15px;
  }
  @include m_query(tablet_two) {
    padding: 0 15px;
  }
  @include m_query(tablet) {
    padding: 0 15px;
  }
  @include m_query(phone) {
    padding: 0 15px;
  }
  h1 {
    text-align: left;
    margin-bottom: 50px;
    color: $royal_night;
  }
  &__card {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 24px);
    margin-left: -12px;
    &-sub {
      display: flex;
      justify-content: center;
      margin: 12px;
      width: calc(20% - 24px);
      border-radius: $default_b_radius;
      padding: 22px 32px;
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
      @include m_query(desktop) {
        width: calc(25% - 24px);
      }
      @include m_query(tablet_two) {
        width: calc(33.33% - 24px);
      }
      @include m_query(tablet) {
        width: calc(50% - 24px);
      }
      @include m_query(phone) {
        width: 100%;
      }
    }
  }
}
// **************Partners section end**************

// **************Submit application section start**************
.submit-app {
  padding: 50px 15px;
  border-radius: $b_radius_card;
  background: $linear_bg;
  color: $white;
  margin-bottom: 100px;
  @include m_query(desktop) {
    border-radius: 0;
  }
  @include m_query(tablet_two) {
    border-radius: 0;
  }
  @include m_query(tablet) {
    border-radius: 0;
    margin-bottom: 0;
  }
  @include m_query(phone) {
    border-radius: 0;
    margin-bottom: 0;
  }
  &__input {
    display: flex;
    padding: 0 102px;
    flex-wrap: wrap;
    width: 100%;

    @include m_query(desktop) {
      width: 100%;
    }
    @include m_query(tablet) {
      padding: 0;
    }
    @include m_query(phone) {
      padding: 0;
    }
    &-left {
      width: 100%;
      display: flex;
    }
    .send_btn {
      cursor: pointer;
      background: #ffffff;
      border-radius: 50px;
      width: 100%;
      height: 100%;
      border: none;
      @include text_dimensions(18px, null, null, $aare_river);
      font-weight: 700;
      font-family: 'OpenSans-Bold', sans-serif;

      @include m_query(tablet) {
        font-size: 16px;
      }
      @include m_query(phone) {
        font-size: 16px;
      }
    }
    &-sub {
      margin: 12px;
      width: calc(25% - 24px);
      position: relative;
      z-index: 1;

      @include m_query(desktop) {
        width: calc(50% - 24px);
      }
      @include m_query(tablet_two) {
        width: calc(50% - 24px);
      }
      @include m_query(tablet) {
        width: 100%;
        height: 62px;
      }
      @include m_query(phone) {
        width: 100%;
        height: 62px;
      }
    }
    &-layer {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      border-radius: 30px;
      background: $white;
      top: 0;
      left: 0;
      opacity: 0.2;
    }
  }

  input {
    position: relative;
    z-index: 3;
    width: 100%;
  }
  h1 {
    margin-bottom: 45px;
  }
}
// **************Submit application section end**************

// **************Footer section start**************
.footer {
  padding-top: 11px;
  background: $linear_bg;
  &__main {
    padding: 77px 15px;
    background: url(../img/footer_bg.png);
    background-position: center center;
    @include m_query(tablet_two) {
      padding: 30px 15px;
    }
    @include m_query(tablet) {
      padding: 30px 15px;
    }
    @include m_query(phone) {
      padding: 30px 15px;
    }
  }
  &__flex {
    display: flex;
    width: 100%;
    @include m_query(tablet_two) {
      flex-direction: column;
    }
    @include m_query(tablet) {
      flex-direction: column;
    }
    @include m_query(phone) {
      flex-direction: column;
    }
    &-left {
      width: calc(100% - 520px);
      @include m_query(tablet_two) {
        width: 100%;
      }
      @include m_query(tablet) {
        width: 100%;
      }
      @include m_query(phone) {
        width: 100%;
      }
      &__sub {
        display: flex;
        width: 100%;
        @include m_query(tablet_two) {
          flex-direction: column;
        }
        @include m_query(tablet) {
          flex-direction: column;
        }
        @include m_query(phone) {
          flex-direction: column;
        }
        &-left {
          width: 55%;
          @include m_query(tablet_two) {
            width: 100%;
          }
          @include m_query(tablet) {
            width: 100%;
          }
          @include m_query(phone) {
            width: 100%;
          }
        }
        &-right {
          width: 45%;
          @include m_query(tablet_two) {
            width: 100%;
          }
          @include m_query(tablet) {
            width: 100%;
          }
          @include m_query(phone) {
            width: 100%;
          }
          h2 {
            margin-bottom: 25px;
            font-family: 'ObjectSans-Heavy', sans-serif;
            font-weight: 800;
            @include text_dimensions(20px, 21px, null, $royal_night);
          }
          a {
            text-decoration: none;
            margin-bottom: 22px;
            display: block;
            font-family: 'OpenSans-Regular', sans-serif;
            font-weight: 400;
            transition: 400ms;
            @include text_dimensions(16px, 21px, null, $grey_20);
            &:hover {
              color: $royal_night;
            }
          }
        }
      }
    }
    &-right {
      width: 520px;
      @include m_query(tablet_two) {
        width: 100%;
      }
      @include m_query(tablet) {
        width: 100%;
      }
      @include m_query(phone) {
        width: 100%;
      }
      h2 {
        margin-bottom: 25px;
        font-family: 'ObjectSans-Heavy', sans-serif;
        font-weight: 800;
        @include text_dimensions(20px, 21px, null, $royal_night);
      }
    }
  }

  &__social {
    display: flex;
    align-items: center;
    margin-top: 48px;
    @include m_query(tablet_two) {
      margin: 28px 0;
    }
    @include m_query(tablet) {
      margin: 28px 0;
    }
    @include m_query(phone) {
      margin: 28px 0;
    }
    &-sub {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      border: 1px solid $royal_night;
      margin-right: 15px;
      text-decoration: none;
    }

    &-icon {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      align-items: center;
    }
  }
  &__contact {
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    margin-bottom: 24px;
    &:nth-last-child(1) {
      margin-bottom: 0;
    }
    &-left {
      width: 64px;
    }
    &-right {
      width: calc(100% - 64px);
      @include text_dimensions(16px, 140%, null, $grey_20);
      font-family: 'OpenSans-SemiBold', sans-serif;
      font-weight: 600;
      transition: 400ms;
      display: inline-block;

      @include m_query(phone) {
        font-size: 14px;
      }
      &:hover {
        color: $royal_night;
      }
    }
    &-round {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      border: 1px solid $royal_night;
      &__icon {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        align-items: center;
      }
    }
  }
  &__sub {
    p {
      padding: 9px;
      font-family: 'OpenSans-Regular', sans-serif;
      font-weight: 400;
      @include text_dimensions(14px, 140%, center, $white);
    }
  }
}
// **************Footer section end**************
