@font-face {
  font-style: normal;
  font-family: 'Roboto-Regular';
  src: url('../../fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-style: normal;
  font-family: 'OpenSans-Regular';
  src: url('../../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-style: normal;
  font-family: 'ObjectSans-Regular';
  src: url('../../fonts/ObjectSans-Regular.otf') format('truetype');
}
@font-face {
  font-style: normal;
  font-family: 'ObjectSans-Regular';
  src: url('../../fonts/ObjectSans-Regular.otf') format('truetype');
}
@font-face {
  font-style: normal;
  font-family: 'ObjectSans-Heavy';
  src: url('../../fonts/ObjectSans-Heavy.otf') format('truetype');
}
@font-face {
  font-style: normal;
  font-family: 'OpenSans-SemiBold';
  src: url('../../fonts/OpenSans-SemiBold.ttf') format('truetype');
}
