@import 'fonts';

// width & weight mixin start
@mixin widthHeight($width, $height) {
  width: $width;
  height: $height;
}
// width & height mixin end

// text dimensions mixin start
@mixin text_dimensions($size, $l_height, $t_pos, $color) {
  font-size: $size;
  line-height: $l_height;
  text-align: $t_pos;
  color: $color;
}
// text dimensions mixin end
